body {
  background-color: #63666A;
}

#secondary-container{
  background-color: #FFD700;
}

.team-logo {
  width: 50px;
  height: 50px;
}

#season-year {
  font-size: 15px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

table {
    margin: auto;
    width: 50% !important; 
}

.conference-name {
  padding-top: 10px;
}



